body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: whitesmoke; */
    background-color: tomato;
}

.bgimg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    width: 100%;
    height: 100%;
}

.dashboard {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.celsius {
    height: 20px;
}

.infobox {
    grid-column-start: 20 span;
    grid-row-start: 3 span;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.infobox__column {
    background-color: rgba(255, 255, 100, 0.2);
    grid-column-start: 3 span;
    grid-row-start: 2 span;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3px;
}
.weatherbox {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.weatherbox > h1 {
    margin-left: 20px;
    margin-right: 5px;
    font-size: 20px;
}

.location {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
.btnlist {
    grid-column-start: 9 span;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.btnlist > h1 {
    grid-column-start: 1 span;
    grid-row-start: 1 span;
    font-size: 30px;
    font-weight: 600;
    margin: 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 100, 0.4);
    margin: 5px;
}
.userinfo,
.timeinfo__box {
    font-size: 30px;
    font-weight: 600;
}

.timeinfo__box h1:first-child {
    font-size: 15px;
    margin: 10px;
}

.timeinfo__box h1:last-child {
    font-size: 45px;
    margin: 10px;
}
.taskbox {
    grid-column-start: 20 span;
    grid-row-start: 14 span;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.taskbox__column {
    background-color: rgba(255, 255, 100, 0.2);
    grid-column-start: 1 span;
    padding: 10px;
    font-size: 30px;
    margin: 5px;
    overflow: scroll;
}

.taskbox__column:last-child {
    color: grey;
    text-decoration: line-through;
}

.inputbox {
    background-color: rgba(255, 255, 100, 0.2);
    grid-column-start: 20 span;
    grid-row-start: 3 span;

    display: flex;
    justify-content: center;
    align-items: center;
}

.addtask {
    margin: 0 30px;
    font-size: 40px;
    width: 100%;
    outline-style: none;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid black;
}
.addtask::placeholder {
    color: brown;
}

.addtask-btn {
    margin-right: 30px;
    font-size: 30px;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: 2px solid black;
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgb(255, 255, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.username {
    font-size: 50px;
    font-weight: 600;
    outline-style: none;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid black;
}

.username::placeholder {
    color: brown;
}

@keyframes pop {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes pup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
